<% 
  let backgroundColor = '';
  let uniSRLogo = '/images/uniSRFooter.png';
  let title = '';
  let image = '';
  let color = '#ffffff';
  let content = "";
  // Valori predefiniti se faction è vuoto o non definito
  if (!faction) {
    backgroundColor = '#f8f9fa';  // Sfondo grigio chiaro
    title = 'GIORNATA DI BENVENUTO';
    content = 'GIORNATA DI BENVENUTO';
    image = 'unisr.svg';  // Logo dell'università
    color = '#000000';  // Testo nero
    uniSRLogo = '/images/uniSRFooter.png';
    faction = "";
  }
  
  switch(faction) {
    // Corso di Laurea in Fisioterapia
    case "10129":
    // rosso
      backgroundColor = '#D51126';
      title = 'FISIOTERAPIA';
      content = 'FISIOTERAPIA';
      image = 'heartBeaters.svg';
      break;
    // Corso di Laurea in Igiene Dentale
    case "10128":
    // giallo
      backgroundColor = '#FFCF21';
      title = 'IGIENE DENTALE';
      content = 'IGIENE DENTALE';
      image = 'mindBlowers.svg';
      break;
    // Corso di Laurea in Ostetricia
    case "10230":
    // blu azzurro
      backgroundColor = '#0096D6';
      title = 'OSTETRICIA';
      content = 'OSTETRICIA';
      image = 'truthSeekers.svg';
      break;
    // Corso di Laurea in Ricerca biotecnologica in medicina
    case "10212":
    // bianco 
      backgroundColor = '#FFFFFF';
      title = 'RICERCA BIOTECNOLOGICA IN MEDICINA';
      content = 'RICERCA BIOTECNOLOGICA IN MEDICINA';
      image = 'fastThinkersInverted.svg';
      color = '#000000';
      uniSRLogo = '/images/uniSRInverted.png';      
      break;
      
    // 7 ottobre gruppo 1 
    case "10120":
      backgroundColor = '#d51126';
      title = 'INFERMIERISTICA';
      content = 'INFERMIERISTICA';
      image = 'heart.svg';
      break;
    case "10235":
      backgroundColor = '#0096d6';
      title = 'SCIENZE<br/>INFERMIERISTICHE<br/>ED OSTETRICHE';
      content = 'SCIENZE INFERMIERISTICHE ED OSTETRICHE';
      image = 'leonardo.svg';
      break;
    case "10130":
      backgroundColor = '#ffcf21';
      title = 'ODONTOIATRIA E<br/>PROTESI DENTARIA';
      content = 'ODONTOIATRIA E PROTESI DENTARIA';
      image = 'brain.svg';
      break;
    case "10124":
      backgroundColor = '#ffffff';
      title = 'INTERNATIONAL<br/>MEDICAL DOCTORAL<br/>PROGRAM';
      content = 'INTERNATIONAL MEDICAL DOCTORAL PROGRAM';
      image = 'atom.svg';
      color = '#000000';
      uniSRLogo = '/images/uniSRInverted.png';      
      break;
    case "10213":
      backgroundColor = '#333333';
      title = 'BIOTECHNOLOGY<br/>AND MEDICAL<br/>BIOLOGY';
      content = 'BIOTECHNOLOGY AND MEDICAL BIOLOGY';
      image = 'microscope.svg';
      break;
    case "10114":
      backgroundColor = '#d51126';
      title = 'SCIENZE E<br/>TECNICHE<br/>PSICOLOGICHE';
      content = 'SCIENZE E TECNICHE PSICOLOGICHE';
      image = 'heart.svg';
      break;
    case "10242":
      backgroundColor = '#0096d6';
      title = 'SCIENZE POLITICHE<br/>E STRATEGIE<br/>GLOBALI';
      content = 'SCIENZE POLITICHE E STRATEGIE GLOBALI';
      image = 'leonardo.svg';
      break;
    case "10123":
      backgroundColor = '#ffcf21';
      title = 'PSICOLOGIA';
      content = 'PSICOLOGIA';
      image = 'brain.svg';
      break;
//////////////////////////////////////////////////////////////////////////
    case "10121":
/////////////////////////////////////////////////////////////////////////
      backgroundColor = '#ffffff';
      title = 'FILOSOFIA';
      content = 'FILOSOFIA';
      color = '#000000';
      image = 'book.svg';
      uniSRLogo = '/images/uniSRInverted.png';   
      break;
    case "10185":
      backgroundColor = '#333333';
      title = 'FILOSOFIA DEL<br/>MONDO<br/>CONTEMPORANEO';
      content = 'FILOSOFIA DEL MONDO CONTEMPORANEO';
      image = 'world.svg';
      break;
    case "10236":
      backgroundColor = '#727272';
      title = 'FILOSOFIA STORIA<br/>ARTE E IMMAGINE';
      content = 'FILOSOFIA STORIA ARTE E IMMAGINE';
      image = 'hands.svg';
      break;

    // Casate

    case "1":
      title = 'HEART BEATERS';
      content = 'HEART BEATERS';
      backgroundColor = '#F45E00';
      image = 'heart.svg';
      break;
    case "2":
      title = 'MIND BLOWERS';
      content = 'MIND BLOWERS';
      backgroundColor = '#7FBC9E';
      image = 'brain.svg'; 
      break;
    case "3":
      title = 'TRUTH SEEKERS';
      content = 'TRUTH SEEKERS';
      backgroundColor = '#14163E';
      image = 'leonardo.svg';
      break;
    case "4":
      title = 'FAST THINKERS';
      content = 'FAST THINKERS';
      backgroundColor = '#7C4FE3';
      image = 'atomWhite.svg';  
      break;
  }
  const currentLang = lang;
  const newLang = currentLang === 'it' ? 'en' : 'it';
  const langFlag = newLang;

%>

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Grazie</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/thanks.css" />
  </head>
  <body style="color:<%= color %>;background-color:<%= backgroundColor %>;">
    <div class="main">
      <div class="container">
        <h1><%- title %></h1>
        
        <div class="image">
          <div class="imageIn">
            <img src="/images/<%= image %>" alt="<%= title %>" />
          </div>
        </div>
        
        <h2>Ciao <%= name %>,<br/>ti diamo il benvenuto in UniSR!</h2>

        <div class="image qrCode">
          <div class="imageIn">
            <img src="<%= qrCode %>" alt="QrCode" />
          </div>
        </div>
        
        <p>Ti aspettiamo il <%= date %>, al Campus UniSR in Via Olgettina 58 - Milano.</p> 
        <p>In questa giornata potrai conoscere: Il campus, il corpo docente e le tue colleghe e i tuoi colleghi.</p>
        <br/>
        <p><strong>Il tuo gruppo di appartenenza è <%= content.replace("<br/>"," ") %></strong>.</p>
        
        <p><strong>All’ingresso cerca i tuoi colori e presenta questo QR Code.</strong></p>
        <br/>
        
        <p>Te ne abbiamo inviato una copia anche per email.</p>

        <p> Non vediamo l’ora di conoscerti e di creare il cambiamento insieme.</p>
        
        <div class="image footer" style="border-color:<%= color %>;">
          <div class="imageIn">
            <img src="<%= uniSRLogo %>" alt="uniSR" />
          </div>
        </div>
        
      </div>
<div class="language-switcher">
  <form action="thanks" method="POST" style="display: inline;">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="name" value="<%= name %>">
    <input type="hidden" name="date" value="<%= date %>">
    <input type="hidden" name="faction" value="<%= faction %>">
    <input type="hidden" name="qrCode" value="<%= qrCode %>">
    <input type="hidden" name="lang" value="<%= newLang %>">
<button type="submit" class="switchLang">
  <img src="/images/<%= langFlag %>.png" alt="Language Flag" width="20" height="20">
</button>

  </form>
</div>
    </div>
     <script src="/js/indexThanks.js"></script>
     <% if(typeof hide !== 'undefined'){ %>
       <script src="/js/totem.js"></script>
     <% } %>
  </body>
</html>
