<% let queryString = ''; if (typeof totem !== 'undefined' && totem !== null && totem !== '') { queryString = `totem=${totem}`; }
else if (typeof banner !== 'undefined' && banner !== null && banner !== '') {
queryString = `banner=${banner}`; } %>

<% 

if (typeof hide !== 'undefined' && hide !== null && hide !== '') { 
  if(queryString === ''){
    queryString = `hide=${hide}`;
  } else {
    queryString = `${queryString}&hide=${hide}`;
  }
}if (typeof qr !== 'undefined' && qr !== null && qr !== '') { 
  if(queryString === ''){
    queryString = `qr=${qr}`;
  } else {
    queryString = `${queryString}&qr=${qr}`;
  }
}
%>

<% let _totem = ''; if (typeof totem !== 'undefined' && totem !== null && totem !== '') { _totem = `${totem}`; }
%>

<% const _events = typeof events !== 'undefined' ? events : [
  {
    "title": "Cerimonia di<br/>apertura",
    "time": "10:30 - 11:00",
    "content": "<strong>Prolusione;</strong><br/>Prof. ENRICO GHERLONE<br/>Magnifico Rettore<br/>Università Vita-Salute San Raffaele<br/><br/><strong>Allocuzione;</strong><br/>Prof. GUIDO POLI<br/>Presidente del Corso di Laurea<br/>in Ricerca Biotecnologica in Medicina",
    "sala": "Caravella<br/>Santa Maria",
    "edificio": "Dibit 1 - Piano 2",
    "location": "aula_caravella"
  },
  {
    "title": "Lectio Magistralis",
    "time": "11:00 - 11:05",
    "content": "<strong>Prof. DREW WEISSMAN;</strong><br/>Nucleoside Modified<br/>mRNA-LNPTherapeutics",
    "sala": "Caravella<br/>Santa Maria",
    "edificio": "Dibit 1 - Piano 2",
    "location": "aula_caravella"
  },
  {
    "title": "Conferimento<br/>Laurea Honoris<br/>Causa",
    "time": "11:05 - 11:45",
    "content": "",
    "sala": "Caravella<br/>Santa Maria",
    "edificio": "Dibit 1 - Piano 2",
    "location": "aula_caravella"
  },
  {
    "title": "Conclusioni e<br/>ringraziamenti",
    "time": "11:45 - 12:00",
    "content": "",
    "sala": "Caravella<br/>Santa Maria",
    "edificio": "Dibit 1 - Piano 2",
    "location": "aula_caravella"
  },
]

%>

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Orari</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/timetableNew.css" />
  </head>
  <body class="body timetable">
    <div class="main">
      <div class="container">
        <h1 class="title">
         <p>
          Conferimento della Laurea Magistrale Honoris Causa in Biotechnology and Medical Biology al Professor <strong>Drew Weissman</strong>, Premio Nobel per la Medicina 2023.
          </p>
          <p>
            Lunedì 14 ottobre 2024, ore 10.00
Università Vita-Salute San Raffaele
Aula Caravella S. Maria
            </p>
        </h1>

        <h2>ORARI</h2>

   
        <div>
          <div class="events">
            <ul>
              <% _events.forEach(function(event) { %>
              <li>
                <div class="event">
                  <div class="eventIn">
                    <header>
                      <div class="title"><div><%- event.title %></div></div>
                        <div class="date">
                          <div><%= event.time %></div>
                          </div>                  
                    </header>
                    <div class="bottom">
                      <div class="content"><%- event.content %></div>
                      <div class="info">
                        <div class="sala"><%- event.sala %></div>
                        <div class="edificio"><%- event.edificio %></div>
                        <% if (event.location) { %>
                        <a
                          href="/it/wayfinder?start=totem<%= _totem %>&end=<%= event.location %>&<%- queryString %>"
                          ><button>Indicazioni</button></a
                        >
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>

        <div class="image footer">
          <div class="imageIn">
            <img src="/images/uniSRFooter.png" alt="uniSR" />
          </div>
        </div>
      </div>
    </div>
    <img src="/images/decoration.svg" alt="decoration" class="decoration" />
    <%- include('overlayMenuNew.ejs') %>
    <script src="/js/index.js"></script>
    <script src="/js/indexTimetable.js"></script>
    <% if(typeof hide !== 'undefined'){ %>
      <script src="/js/totem.js"></script>
    <% } %>
  </body>
</html>
